*{
  margin: 0;
  padding: 0;
}
main{
  width:100%;
  background-color: #e1e3e8;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    padding: 5% 0
}
header{
  padding: 5% 0;
  background-image: url("/imgs/paleonew1.jpg");
  background-size: cover;
  color:white;
}
aside{
  float:left;
  width:11%;
  padding: 2%;

}
section{
  display: inline-block;
  width:75%;
  background-color: #b3bdce;
  padding: 5%;
  font-family: inherit;
  font-size: 25;
}
